.App {
  display:flex;
  flex-direction: column;
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(./fonts/Poppins-SemiBold.ttf ) format('truetype');
}
h1,p {
  font-family:poppins
}
.formPage{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.formCategories{
  display:flex;
  flex-direction: column;
  width:100%;
}
.formCategoriesTags{
  display:flex;
  margin-left: 25px;
  flex-wrap:wrap
}
.formTags{
  display:flex;
  justify-content: space-around;
  gap:10px;
  align-items:center;
}
.tag{
  font-size: 25px;
  border-radius: 20px;
  border: 1px rgb(210, 200, 200) solid;
  padding: 5px
}
.tag:hover{
  background: rgb(210, 200, 200);
  text-decoration:line-through;
  text-decoration-thickness: 2px;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.formAttributes{
  width:100%;
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  align-items: center;
  margin-top:75px;
  margin-bottom:75px;
  gap:50px
}
.formCategoriesSelections{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:75px;
  flex-wrap:wrap
}
.category{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 30px; 
  user-select: none;
  /* border: 1px solid red; */
  margin-top: 15px;
  border-radius: 5px;
  padding:8px;
}
.categoryMenu{
  display:flex;
}
.categoryColumn{
  width:100%;
}
.leaflet-container{
  height:350px;
  width:350px;
}
.mapContainer{
  display:flex;
  flex-direction: column;
}
.mapTitle{
  font-family:"poppins";
  text-align:left;
  margin-bottom: 5px;
  font-size: 25px;
}
.mapHeadingContainer{
  display:flex;
}
.filterContainer{
  display:flex;
  flex-direction: column;
  height:442px;
  width:350px
}
.filterTitle{
  font-family:poppins;
  font-size:25px;
  border-bottom: 2px red solid;

}
.filters{
  display:flex;
  flex-direction: column;
}
.priceContainer{
  display:flex;
  gap:10px;
  align-items: center;
}
.prices{
  font-size: 20px;
  border-radius: 20px;
  border: 1px rgb(210, 200, 200) solid;
  padding: 5px;
  background:white;
  transition-duration: 0.3s;
}
.priceSelected{
  font-size: 20px;
  border-radius: 20px;
  border: 1px rgb(210, 200, 200) solid;
  padding: 5px;
  background: rgb(210, 200, 200);
  user-select: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.priceSelected:hover{
  cursor: pointer;
  transition-duration: 0.3s;
  user-select: none;
}
.prices:hover{
  user-select: none;
  cursor: pointer;
}
.ratingsContainer{
  display:flex;
  margin:0;
  padding:0;
  align-items: center;
}
.ratings{
  display:flex;
  flex-direction: column;
  gap:10px;
  margin-top:8px;
}
body{
  transform: scale(1.00);
  transform-origin: 0 0;
}

/* .menuItem{
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
} */

/* .category:hover{
  text-decoration: underline solid red;
  text-underline-offset: 8px;
} */