.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(./fonts/Poppins-SemiBold.ttf ) format('truetype');
}
h1,p {
  font-family:poppins
}
.formPage{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.formCategories{
  display:flex;
  flex-direction: column;
  width:100%;
}
.formCategoriesTags{
  display:flex;
  margin-left: 25px;
  flex-wrap:wrap
}
.formTags{
  display:flex;
  justify-content: space-around;
  gap:10px;
  align-items:center;
}
.tag{
  font-size: 20px;
  border-radius: 20px;
  border: 1px rgb(210, 200, 200) solid;
  padding: 5px
}
.tag:hover{
  background: rgb(210, 200, 200);
  text-decoration:line-through;
  text-decoration-thickness: 2px;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.formAttributes{
  height:100%;
  width:100%
}
.formCategoriesSelections{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:75px;
  flex-wrap:wrap
}
.category{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 25px; 
  user-select: none;
  /* border: 1px solid red; */
  margin-top: 15px;
  border-radius: 5px;
  padding:8px;
}
.categoryMenu{
  display:flex;
}
.categoryColumn{
  width:100%;
}
/* .menuItem{
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
} */

/* .category:hover{
  text-decoration: underline solid red;
  text-underline-offset: 8px;
} */